<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Status</h4>
        </div>
        <%= form_for(status) do |f| %>
          <div class="modal-body">
            <div class="add-form">
              <% if status.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

                  <ul>
                  <% status.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= f.label :name %>
                <%= f.text_field :name %>
              </div>
            </div>
            <div class="modal-footer">
              <div class="actions">
                <button type="button" class="btn btn-danger btn-outline" data-dismiss="modal">Close</button>
                <%= f.submit "Add Status", :class => "btn btn-success btn-outline to-left" %>
              </div>
            </div>
          </div>
      </div>
        <% end %>
    </div>
  </div>
