<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="edit-form">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :code %>
      <%= f.text_field :code, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :category_id %>
      <%= f.select(:category_id, options_for_select([['Active','1'], ['Needs Replenishment','2'], ['Out of Stock','3']]), {}, {class: "form-control"}) %>
    </div>

    <div class="field">
      <%= f.label :retail_price %>
      <%= f.number_field :retail_price, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :cost_price %>
      <%= f.number_field :cost_price, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :stock %>
      <%= f.number_field :stock, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :status %>
      <%= f.select(:category_id, options_for_select([['Active','1'], ['Needs Replenishment','2'], ['Out of Stock','3']]), {}, {class: "form-control"}) %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Update Item", :class => "btn btn-success btn-outline to-left" %>
    </div>
  </div>
  <br><br>
<% end %>
