<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @item.code %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category_id %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @item.retail_price %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @item.cost_price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @item.stock %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status_id %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @item.unit_id %>
</p>
