  <div class="view-form">
    <div class="field">
      <strong>Name:</strong>
      <input class="form-control" value="<%= @item.name %>" disabled>
    </div>

    <div class="field">
      <strong>Category:</strong>
      <select class="form-control" disabled>
        <option><%= @item.category.name %></option>
      </select>
    </div>

    <div class="field">
      <strong>Cost price:</strong>
      <input class="form-control" value="₱ <%= @item.cost_price %>" disabled>
    </div>

    <div class="field">
      <strong>Stock:</strong>
      <input class="form-control" value="<%= @item.stock %>" disabled>
    </div>

    <div class="field">
      <strong>Critical Quantity Basis:</strong>
      <input class="form-control" value="<%= @item.critical_quantity_basis %>" disabled>
    </div>

    <div class="field">
      <strong>Status:</strong>
      <select class="form-control" disabled>
        <option><%= @item.status.name %></option>
      </select>
    </div>
  </div>
  <div class="actions">
    
    <a class="btn btn-danger btn-outline to-left" href="/">Back</a>
  </div>
